@import "tailwindcss";

@theme {
  --color-light: #ffffff;
  --color-dark: #171717;
}

body {
  font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Segoe UI", system-ui, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-light);
    background: var(--color-dark);
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--color-dark);
    background: var(--color-light);
  }
}
